
<div class="row">

  <div class="col-md-4">

    <h3>Select files</h3>

    <div appNgDropFiles
         [ngClass]="{ 'file-over': isOnDropZone }"
         (fileOn)="fileOnDropZone($event)"
         class="well drop-zone">

         <h4>Drop the files here</h4>
         <img src="/assets/img/drop-images.png">

    </div>

  </div>


  <div class="col-md-8 uploading-section">

    <h3>Upload files</h3>

    <button type="button"
            class="btn btn-success"
            (click)="uploadImagesToFirebase"
            [disabled]="files.length == 0 || !isAllowedToUpload">
      Upload to firebase
    </button>

    <button type="button"
            class="btn btn-danger"
            (click)="cleanFiles()">
      Clean files
    </button>


    <table class="table" *ngIf="files.length > 0">

      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Progress</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>

    </table>

  </div>

</div>
